<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:d58d-2406-7400-43-54fe-d954-b17a-d66d-8605.ngrok-free.app</string>
	</array>
	<key>com.apple.developer.associated-domains.mdm-managed</key>
	<true/>
</dict>
</plist>
